/* Below line is used for online Google font */
@import url(http://fonts.googleapis.com/css?family=Raleway);

body{
    background-color: #0c0129;
}
h1
{
    color: rgb(255, 255, 255);
    font-family: raleway;
    font-size: 24px;
    text-align: center;
}
h2
{
    color: #ffffff;
    font-family: raleway;
    font-size: 16px;
    text-align: center;
    font-style: italic;
}
div.container{
    margin: middle;
    position: absolute;
    top: 100px; bottom:0px; right:0; left: 440px;
    width: 900px;
    height: 610px;
    font-family: 'Raleway';
}
div.main{
    width: 300px;
    padding: 10px 50px 25px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    font-family: raleway;
    float: left;
    margin-top:50px;
}
input[type=text],input[type=password]{
    width: 100%;
    height: 40px;
    padding: 5px;
    margin-bottom: 25px;
    margin-top: 5px;
    border: 2px solid rgb(255, 255, 255);
    color: #0c0129;
    font-size: 16px;
    border-radius: 5px;
}
label{
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}
center{

}
.note{
    color:rgb(255, 0, 0);
    font-size: 14px;
}
.valid{
    color:rgb(51, 255, 0);
    font-size: 14px;
    margin-left: 25px;
}
.back{
    text-decoration: none;
    border: 1px solid rgb(0, 143, 255);
    background-color: rgb(0, 214, 255);
    padding: 3px 20px;
    border-radius: 2px;
}
.remember{
    color: #ffffff;
    font-size: 12px;
}
input[type=button]{
    font-size: 16px;
    background: linear-gradient(#ffbc00 5%, #ffdd7f 100%);
    border: 1px solid #e5a900;
    color: #0c0129;
    font-family: raleway;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    padding: 10px 0;
    outline:none;
}
input[type=button]:hover{
    background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}